<launch>
  <!-- ARGUMENTS -->
  <!-- Ensure this default path matches where you saved the map in Phase 1 -->
  <arg name="map_file" default="/home/fetchuser/chinmay/fetch_teleop_ws/my_maps/map_condition_1.yaml" />
  <arg name="mocap_ip" default="192.168.0.127" /> <!-- CHANGE THIS TO OPTITRACK IP -->
  <arg name="rigid_body" default="Fetch" />

  <!-- NEW: CALIBRATION ARGUMENTS (Update these after running calibrate_frames.py) -->
  <arg name="tf_x" default="1.4941" />
  <arg name="tf_y" default="2.5241" />
  <arg name="tf_z" default="0.5045" />
  <arg name="tf_yaw" default="-1.8502" />

  <!-- 1. STATIC TRANSFORM (The Glue) -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_broadcaster" 
        args="$(arg tf_x) $(arg tf_y) $(arg tf_z) $(arg tf_yaw) 0 0 world map 100" />

  <!-- 3. AMCL (Standard Fetch Config) -->
  <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- 4. VRPN Client -->
  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg mocap_ip)
      port: 3883
      update_frequency: 100.0
      frame_id: world
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
  </node>

  <!-- 5. Pose Logger (Visualization Paths) -->
  <node pkg="fetch_teleop" type="pose_logger.py" name="pose_logger" output="screen">
    <param name="rigid_body_name" value="$(arg rigid_body)" />
  </node>

  <!-- 6. EXPERIMENT LOGGER (Data Recording) -->
  <node pkg="fetch_teleop" type="experiment_logger.py" name="experiment_data_logger" output="screen">
      <param name="max_time" value="120.0" />
      <param name="rigid_body_name" value="$(arg rigid_body)" />
  </node>

</launch>